:root {
    --amarelo: #fdc716;
    --roxo: #410072;
    --laranja: #e16c1d;
    --impact: "Impact";
    --pixelsplitter: "PixelSplitter";
}

* {
	font-family: "Arial";
}

body {
    background: var(--amarelo);
}

.impact {
	font-family: var(--impact) !important;
    text-transform: uppercase;
}

.gagalin {
    font-family: var(--gagalin);
}

.pixelsplitter {
    font-family: var(--pixelsplitter) !important;
}

.h6, .h5, .h4, .h3, .h2, .h1 {
    font-family: "Arial" !important;
}

.edicao-5 {
    font-family: var(--pixelsplitter);
    font-size: 35px;
    text-transform: uppercase;
    text-shadow: 3px 3px var(--roxo);
}

.title-home {
	font-size: 50px;
}

a:hover {
    transition: 0.5s all;
    color: var(--roxo); !important;
}

h6, h5, h4, h3, h2, h1 {
    font-family: "Arial" !important;
    text-transform: uppercase !important;
    letter-spacing: -1px !important;
}

/*BG E CORES*/
.bg-branco { background: white !important; }
.bg-amarelo { background: var(--amarelo) !important; }
.bg-laranja { background: var(--laranja) !important; }
.bg-roxo { background: var(--roxo) !important; }

.amarelo { color: var(--amarelo) !important; }
.roxo { color: var(--roxo) !important; }
.laranja { color: var(--laranja) !important; }
.branco { color: white !important; }
.preto { color: black !important; }

.image img {
	width: 100%;
	border: 4px solid var(--amarelo1);
	cursor: pointer;
}

.btn404 {
    background: var(--amarelo);
    font-weight: 900;
    letter-spacing: -1px;
    text-transform: uppercase;
    font-size: 20px;
    color: var(--roxo);
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    margin-bottom: 10px;
    outline: 2px solid;
    box-shadow: 3px 5px;
}

.btn404:hover {
    transition: 0.5s all;
    background-color: var(--roxo) !important;
    color: white !important;
}

.btn-ingresso {
    background: var(--amarelo);
    color: var(--roxo);
    padding: 5px 15px;
    border-radius: 50px;
    text-decoration: none;
    margin-bottom: 10px;
    outline: 2px solid;
    box-shadow: 3px 5px;
    font-family: var(--pixelsplitter);
}

.btn-ingresso:hover {
    transition: 1s all;
    background-color: var(--roxo) !important;
    color: white !important;
}

.stands {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

footer a {
	color: var(--branco);
	text-decoration: none;
}

.icon-foot {
	font-size: 30px;
	padding: 5px;
}

.div-circle {
	background: var(--amarelo);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.div-circle:hover {
    background: var(--amarelo-escuro);
    transition: 0.3s all;
    cursor: pointer;
}

.x {
	position: absolute;
    top: 10px;
    right: 20px;
    background: no-repeat;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bolder;
}

.nav-shadow {
	box-shadow: 0px 3px var(--amarelo-escuro) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--roxo) !important;
    font-weight: 600;
    padding-right: 25px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--branco) !important;
}

.card {
	border-radius: 0px !important;
    border: none !important;
    box-shadow: 4px 4px var(--roxo-claro);
}

a.btn.bg-branco.roxo.mb-1:hover {
    color: var(--amarelo1);
    background: var(--roxo) !important;
}

.bg-icon {
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.bat { background-image: url("../img/icon-bat.png"); background-size: contain !important; }
.mic { background-image: url("../img/icon-mic.png"); }
.stand { background-image: url("../img/icon-stand.png"); }
.dance { background-image: url("../img/icon-dance.png"); }
.artist { background-image: url("../img/icon-artist.png"); }
.staff { background-image: url("../img/icon-staff.png"); }
.maid { background-image: url("../img/icon-maid.png"); }
.pokemon { background-image: url("../img/icon-pokemon.png"); }

.banner-home {
    background-image: url("../img/banner-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.ani-home {
    width: 500px;
}

.copy {
	font-size: 22px;
    font-weight: lighter;
}

.ani-chan {
	display: none;
}

.modal {
	background: #0000008c;
}

.totop {
	position: fixed;
    bottom: 0;
    right: 0;
    padding: 0px 50px;
    font-size: 30px;
}

.hidden {
	display: none;
}

ul li button {
	border: none;
    background: none;
    color: var(--amarelo) !important;
}

.nav-link:hover, .nav-link:focus {
    color: var(--roxo-claro) !important;
}

section {
    padding-top: 7rem !important;
    padding-bottom: 7rem !important;
}

.btn.bg-roxo.branco:hover {
    background: var(--amarelo) !important;
    color: var(--roxo) !important;
}

.disable {
	background: grey;
    color: white;
    cursor: no-drop;
}

.disable:hover {
    color: white !important;
}

#timer li {
    display: inline-block;
    font-size: 1.3em;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
}

#timer span {
    display: block;
    font-size: 5.5rem;
    font-family: var(--impact);
}

.time-shadow {
    box-shadow: 3px 3px 0 5px white;
    background-image: url(../img/calendar.png) !important;
    background-repeat: no-repeat !important;
    background-size: 35% !important;
    background-position-x: -25% !important;
    position: relative;
    overflow: hidden;
}

.star-timer {
    position: absolute;
    top: 30%;
    right: -20%;
    width: 40%;
}

.chamada-head {
    text-shadow: 0px 7px 20px black;
}
.img-cobertura {
    width: 200px;
}

.notfound {
    font-size: 150px;
    outline: 26px black;
    -webkit-text-stroke: 3px black;
    text-shadow: 8px 8px black;
}

.card-link {
    background: white;
    width: 500px;
    height: 50px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 0px 0px var(--roxo-claro);
    padding: 15px;
    font-weight: 600;
}

.card-link:hover {
    transform: scale(1.1);
    transition: 0.2s all;
}

@media (max-width: 992px) {
    .btn-ingresso {
        font-size: 15px !important;
    }
}

@media (max-width: 768px) {
    .star-timer {
        top: 60%;
        width: 35%;
    }
    .btn-ingresso {
        font-size: 15px !important;
    }
    .banner-home {
        background-image: url("../img/banner-desktop2.png");
    }
	#edicoes .px-4 {
	    padding-right: 3.5rem !important;
	    padding-left: 3.5rem !important;
	}
    #timer li {
        font-size: 0.7em;
    }
    #timer span {
        font-size: 3.5rem;
    }
    .stands {
        width: 100px;
        height: 100px;
    }
    .div-circle {
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 640px) {
    #timer li {
        font-size: 0.6em;
    }
    #timer span {
        font-size: 2.5rem;
    }
    .card-link {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .card-link {
        width: 250px;
    }
}