/* === GAGALIN ==== */
@font-face {
  font-family: "Gagalin";
  src:  url("../fontes/Gagalin-Regular.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}

/* === PixelSplitter ==== */
@font-face {
  font-family: "PixelSplitter";
  src:  url("../fontes/PixelSplitter-Bold.ttf") format('truetype');
  font-style: normal;
  font-weight: normal;
}